@import "./null.scss";

@import url(https://fonts.googleapis.com/css?family=Trocchi:regular);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Halant:500,700);

/*

	$fz:16px; ПРИМЕР СОЗДАНИЕ ПЕРЕМЕННОЙ

	%tplborder{
		border-bottom: 5px dashed red;
} ПРИМЕР СОЗДАНИЯ ШАБЛОНА СТИЛЕЙ

	div{
		@extend %tplborder;
} ПРИМЕР ПОДКЛЮЧЕНИЯ

	@mixin fontz($f, $c){
		font-size: $f;
		color: $c;
	} ПРИМЕР СОЗДАНИЯ МИКСИНА

	div{
		@include fontz(50px, #000);
	} ПРИМЕР ПРИМИНЕНИЯ

*/

/*--------------------------------------------------------*/

body{
	font-family: Trocchi;
	color: #12484A;
	font-size: 16px;
	line-height: normal;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main{
	flex: 1 1 auto;
}

[class*=__container] {
	max-width: 1364px;
	margin: 0 auto;
	padding: 0px 15px;
}

/*----------------------------HEADER----------------------------*/

.header{
	background-color: #EFDECD;

	.header__container{
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.header__inner {
		text-transform: uppercase;
		display: flex;
		align-items: center;
	}
}

.header__logo {
	max-width: 65px;
}
.menu__list {
	display: flex;
	gap: 79px;
	margin-left: 84px;

	.menu__list-link {
		color: #12484A;

		position: relative;

		&::after {
			content: "";
			height: 2px;
			width: 0;
			background-color: #12484A;
			position: absolute;
			bottom: -2px;
			right: 0;
			transition: 0.3s;
		}

		&:hover::after {
			content: "";
			width: 100%;
			left: 0;
		}
	}
}

.header__language-option {
	margin-left: auto;
	cursor:pointer;
	position: relative;

	&::after{
		position: absolute;
		content: url(../images/icons/language-after.svg);
		
	}
}
.header__user-link {
	margin-left: 25px;
}



/*----------------------------MAIN----------------------------*/

.furry-pets-info {
	text-align: center;
	color: #EFDECD;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.info__inner{
		background-color: rgba($color: #12484A, $alpha: .6);
	
		.info__container{
			padding-top: 232px;
			padding-bottom: 341px;
		}
	}
}

.info__title {
	font-size: 128px;
	letter-spacing: 47.36px;
	text-transform: uppercase;
	color: rgba(1, 1, 1, 0);
	-webkit-text-stroke: 2px #EFDECD;
}

.info__text {
	max-width: 490px;
	margin: 0 auto;
	padding: 41px 5px 55px;
	font-size: 24px;
	text-transform: lowercase;
}
.info__button {
	color: #12484A;
	font-size: 24px;
	padding: 11px 25px;
	background-color: #EFDECD;
	border: 1px solid #12484A;
	border-radius: 20px;
	max-width: 138px;
	width: 100%;
	display: inline-block;
	text-transform: uppercase;
	margin: 0 auto;
	transition: 0.6s;

	&:hover{
		background-color: rgba($color: #EFDECD, $alpha: .7);
		border: 1px solid #EFDECD;
	}
}
