@import "./null.scss";

@import url(https://fonts.googleapis.com/css?family=Trocchi:regular);
@import url(https://fonts.googleapis.com/css?family=Forum:regular);
@import url(https://fonts.googleapis.com/css?family=Halant:500,700);

/*

	$fz:16px; ПРИМЕР СОЗДАНИЕ ПЕРЕМЕННОЙ

	%tplborder{
		border-bottom: 5px dashed red;
} ПРИМЕР СОЗДАНИЯ ШАБЛОНА СТИЛЕЙ

	div{
		@extend %tplborder;
} ПРИМЕР ПОДКЛЮЧЕНИЯ

	@mixin fontz($f, $c){
		font-size: $f;
		color: $c;
	} ПРИМЕР СОЗДАНИЯ МИКСИНА

	div{
		@include fontz(50px, #000);
	} ПРИМЕР ПРИМИНЕНИЯ

*/

$main-green:#12484A;
$main-white: #EFDECD;

/*--------------------------------------------------------*/

body{
	font-family: Trocchi;
	color: $main-green;
	font-size: 16px;
	line-height: normal;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main{
	flex: 1 1 auto;
}

[class*=__container] {
	max-width: 1364px;
	margin: 0 auto;
	padding: 0px 15px;
}

.btn {
	text-align: center;
	padding: 13px 42px;
	background-color: rgba($color: $main-white, $alpha: .7);
	text-transform: uppercase;
	color: $main-green;
	border-radius: 20px;
	font-size: 20px;
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.25);
}

/*----------------------------HEADER----------------------------*/

.header{
	background-color: $main-white;

	.header__container{
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.header__inner {
		text-transform: uppercase;
		display: flex;
		align-items: center;
	}
}

.header__logo {
	max-width: 65px;
}
.menu__list {
	display: flex;
	gap: 79px;
	margin-left: 84px;

	.menu__list-link {
		color: $main-green;

		position: relative;

		&::after {
			content: "";
			height: 2px;
			width: 0;
			background-color: $main-green;
			position: absolute;
			bottom: -2px;
			right: 0;
			transition: 0.3s;
		}

		&:hover::after {
			content: "";
			width: 100%;
			left: 0;
		}
	}
}

.header__language-option {
	margin-left: auto;
	cursor:pointer;
	position: relative;

	&::after{
		position: absolute;
		content: url(../images/icons/language-after.svg);
		
	}
}
.header__user-link {
	margin-left: 25px;
}



/*----------------------------MAIN----------------------------*/
/*----------------------------INFO----------------------------*/


.furry-pets-info {
	text-align: center;
	color: $main-white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.info__wrapper{
		background-color: rgba($color: $main-green, $alpha: .6);
	
		.info__container{
			padding-top: 232px;
			padding-bottom: 341px;
		}
	}
}

.info__title {
	font-size: 128px;
	letter-spacing: 47.36px;
	text-transform: uppercase;
	color: rgba(1, 1, 1, 0);
	-webkit-text-stroke: 2px $main-white;
}

.info__text {
	max-width: 490px;
	margin: 0 auto;
	padding: 41px 5px 55px;
	font-size: 24px;
	text-transform: lowercase;
}
.info__button {
	color: $main-green;
	font-size: 24px;
	padding: 11px 25px;
	border: 1px solid $main-green;
	max-width: 138px;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	transition: 0.6s;

	&:hover{
		background-color: rgba($color: $main-white, $alpha: 1);
	}
}

/*----------------------------SUB-PLANS----------------------------*/

	.sub-plans {

		&__wrapper {
			background-color: rgba($color: $main-green, $alpha: .3);
		}

		&__title {
			text-transform: uppercase;
			font-size: 38px;
			text-align: center;
			padding: 38px 15px 18px;
		}

		&__row {
			display: flex;
			justify-content: center;
			gap: 77px;
			padding-top: 18px;
			align-items: flex-end;
		}

		&__column {
			max-width: 343px;
			background-color: $main-green;
			color: $main-white;
			display: flex;
			flex-direction: column;
			padding: 25px 45px 30px;
		}

		.sub-plans-join {

			&__wrapper {
				text-align: center;
				padding: 84px 15px;
			}
	
			&__title {
				font-family: Trocchi;
				font-size: 38px;
				text-transform: uppercase;
				padding-bottom: 27px;
			}
	
			&__text {
				margin: 0 auto;
				max-width: 300px;
				font-family: Forum;
				font-size: 16px;
				padding-bottom: 40px;
			}
	
			&__button {
				border: 1px solid $main-green;
				background-color: rgba($color: $main-white, $alpha: 0.7);
				transition: 0.6s;

				&:hover{
					background-color: rgba($color: $main-white, $alpha: 1);
					letter-spacing: 4px;
				}
			}
	}	
}
.plans-column {
	font-family: Forum;
	line-height: 150%;font-size: 18px;
	border-radius: 30px;
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.25);
	min-height: 600px;
	height: 100%;
	
		&__title {
			text-align: center;
			text-transform: uppercase;
			font-family: Trocchi;
			font-size: 28px;
			line-height: normal;
			padding-bottom: 10px;
		}



		&__list {
			flex: 1 1 auto;
			padding-left: 25px;
			padding-bottom: 18px;
		}

		&__list-item {
			position: relative;
			&::before{
				position: absolute;
				content: "";
				height: 3px;
				width: 3px;
				top: 12.5px;
				left: -20px;
				background-color: $main-white;
			}
		}

		&__button {
			color: $main-green;
			font-family: Trocchi;
			font-size: 20px;
			transition: .6s;

			&:hover{
				background-color: rgba($color: $main-white, $alpha: 1);
			}
		}
}
.plans-column-middle{
	min-height: 640px;
	background-color: $main-white;
	color: $main-green;

	.plans-column__list-item {
		&::before{
			background-color: $main-green;
		}
	}

	.plans-column__button{
		color: $main-white;
		background-color: rgba($color: $main-green, $alpha: .9);

		&:hover{
			background-color: rgba($color: $main-green, $alpha: 1);
		}
	}
}

/*----------------------------FOOTER----------------------------*/

.footer {
	background-color:rgba($color: $main-white, $alpha: .7);
	box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.25);

	&__wrapper {
		padding: 11px 15px 5px;
	}

	&__container {
		padding: 5px 143px;
	}

	&__subtext {
		padding: 3px 195px;
		font-family: Forum;
		font-size: 16px;
		color: rgba($color: $main-green, $alpha: .5);
	}
}
.footer-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-list {

	&__menu {
		padding-left: 49px;
		display: flex;
		gap: 59px;
	}

	&__menu-link {
		color: $main-green;
		text-transform: uppercase;
		font-size: 14px;

		&:hover{
			text-decoration: underline;
		}
	}
}
.footer-list-icons {
	&__menu {
		display: flex;
		gap: 32px;
		padding-left: 77px;
	}
}

.footer-list-icons__menu-icon{
	opacity: 0.8;
		transition: 0.6s;

		&:hover{
			opacity: 1;
		}
}